mixin info()
  -
    const data = [
      {name: "new", id: "new", text: "Новинки", check: true},
      {name: "exist", id: "exist", text: "Есть в&#160;наличии", check: false},
      {name: "contract", id: "contract", text: "Контрактные", check: false},
      {name: "exclusive", id: "exclusive", text: "Эксклюзивные", check: false},
      {name: "sale", id: "sale", text: "Распродажа", check: false},
    ]
  section.info
    h2.info__title!= "Краски"
    .info__case
      +btn().info__toggler.btn!= "Фильтры"
      .info__choice
        each item in data
          label.info__label.btn
            input(type="checkbox", name=item.name, id=item.id, tabindex="-1", checked=item.check).visually-hidden.info__check
            span(tabindex="1").info__backup
            span.info__checktext!= item.text
    .info__cont
      .info__wrap
        .info__num!= "0 товаров"
        .info__select
          +btn().info__board!= "Сначала дорогие"
          .info__drop
            .info__option!= "Сначала дорогие"
            .info__option!= "Сначала недорогие"
            .info__option!= "Сначала популярные"
            .info__option!= "Сначала новые"
      ul.info__list
