mixin modal()
  -
    const data = [
      {text: "Главная"},
    ]
  section.modal
    .modal__cont
      h2.modal__title!= "Корзина"
      +btn().modal__cross
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M18 6L6 18" stroke="#1f2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6 6L18 18" stroke="#1f2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    .modal__form
      .modal__head
        .modal__count!= "0"
          span!= "&#160;товаров"
        +btn().modal__clean!= "очистить список"
      ul.modal__list
      .modal__foot
        .modal__bag
          .modal__sign!= "Итого"
          .modal__total!= "0"
            span!= "&#160;₽"
        +btn(type="submit").modal__submit!= "Оформить заказ"
